<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}Datasets have been used to analyze, visualize, and measure SDG progress. Datasets are published by
          various organizations, and methods demonstrating innovative approaches to SDGs can be shared here. Projects
          group datasets used by innovative methods with descriptions of these methods, to provide further insight,
          ideas, and inspiration.{% endtrans %}
    </p>
    {% if h.check_access('ckanext_showcase_admin_add') %}
      <p>
        {% trans url=h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='manage_showcase_admins') %}Sysadmins can manage Project Admins from the <a href='{{ url }}'>Project configuration page</a>.{% endtrans %}
      </p>
    {% endif %}
  </div>
</div>
